@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Courier New', Courier, monospace;
}

#formulario{
    width: 500px; 
    height: 200px; 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color:#072ac8;
}

#nombre{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}


#email{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

#phone{
    width: 300px;
    height: 50px;
    border-radius: 10px;
}


#mensaje{
    width: 400px;
    height: 100px;
    border-radius: 10px;
}

#enviar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#enviar:hover{
    color: #072ac8;
    background-color: rgb(163, 167, 167);;
}
